.vs/
HelloXamarinFormsWorld.Android/obj/
HelloXamarinFormsWorld.iOS/obj/
HelloXamarinFormsWorld.UWP/bin/
HelloXamarinFormsWorld.UWP/obj/
HelloXamarinFormsWorld/bin/
HelloXamarinFormsWorld/obj/
HelloXamarinFormsWorld.Android/bin/
